/* Footer.css */
.footer {
    height: 100%;
    width: 100vw;
    opacity: 1;
    display: flex;
    padding: 2rem 0;
    border-top: 5px solid;
    border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color)) 2;
    background-color: var(--footer-background);
    color: var(--footer-foreground);
}

.footer-content {
    height: 80px;
    opacity: 1;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-text {
    font-family: var(--font-family);
    text-align: center;
    margin: 0;
    color: inherit;
}

.footer-icons {
    display: flex;
    gap: 1rem;
}

.footer-icon:hover {
    transform: translateY(-5px);
}

[data-theme='dark'] .footer {
    --footer-background: #333; /* Dark theme background */
    --footer-foreground: #f0f0f0; /* Dark theme text */
}
