:root {
    --background: #000000;
    --foreground: #2d2d2d;
    --primary-color: #cbcbcb;
    --secondary-color: #3ea5ff;
    --font-family: 'Arial', sans-serif;
    --transition-duration: 0.5s;
    --footer-background: #edeaea;
    --footer-foreground: #3c3c3c;
    --detail-background-color: #ffffff;
    --detail-text-color: #000000;
    --hover-color: #ffffff;
    --button-background-color: #007bff;
    --button-text-color: #ffffff;
    --button-hover-background-color: #0056b3;
    --background-transparent: rgba(240, 240, 240, 0.5);
}

[data-theme='dark'] {
    --background: #121212;
    --foreground: #e0e0e0;
    --primary-color: #363636;
    --secondary-color: #004178;
    --footer-background: #000000;
    --footer-foreground: #e0e0e0;
    --detail-background-color: #2f2f2f;
    --detail-text-color: #e0e0e0;
    --hover-color: #8051fe;
    --button-background-color: #8051fe;
    --button-hover-background-color: #5a2eeb;
    --background-transparent: rgba(0, 0, 0, 0.5);
}

.logo-grid-section {
    background-color: var(--background-transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

html, body {
    width: 100%;
    font-family: var(--font-family), serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    transition: color var(--transition-duration), background-color var(--transition-duration), border-color var(--transition-duration);
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin: 0.5em 0;
}

p {
    line-height: 1.5;
}

.content-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* Added padding to main-container to prevent overlap */
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 200ms ease-out;
}

.video-background.fade-out {
    opacity: 0;
}

nav, footer {
    background-color: var(--background);
    width: 100%;
    padding: 1em 0;
    position: fixed;
    left: 0;
    z-index: 2;
}

nav {
    top: 0;
}

footer {
    bottom: 0;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .logo-grid-section {
        flex-direction: column;
        padding: 1rem;
    }

    .logo-grid-section img {
        width: 80%;
        margin: 0.5rem 0;
    }

    nav, footer {
        padding: 0.5em 0;
    }

    .content-wrapper {
        padding: 1rem;
    }
}
