:root {
    --background: #f0f0f0; /* Light mode background */
    --foreground: #333; /* Light mode text */
    --primary-color: #007BFF; /* Light mode primary color */
    --secondary-color: #00f90a; /* Light mode secondary color */
    --font-family: 'Arial', sans-serif;
    --transition-duration: 0.5s;
    --footer-background: #f0f0f0; /* Light theme background */
    --footer-foreground: #333; /* Light theme text */
}

[data-theme='dark'] {
    --background: #121212; /* Dark mode background */
    --foreground: #e0e0e0; /* Dark mode text */
    --primary-color: #001048; /* Dark mode primary color */
    --secondary-color: #03DAC6; /* Dark mode secondary color */
}


html, body {
    width: 100vw;
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

/* Apply transitions to all elements for color-related properties */
*, *::before, *::after {
    transition: color var(--transition-duration),
    background-color var(--transition-duration),
    border-color var(--transition-duration);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin: 0.5em 0;
}

p {
    line-height: 1.5;
}

.main-container {
    width: 100vw;
    display: flex;
    flex-direction: column; /* Change to column direction */
    position: relative;
    min-height: 100vh;
}