/* Add this to your main CSS file or <style> tag */
.section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--foreground); /* Change color to white for better visibility on a dark background */
    position: relative;
}

.logo-grid-section {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: relative; /* Stack on top of absolute elements */
    padding: 20px;
}

.logo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* This centers the .logo-grid within its parent */
    padding: 10px;
    box-sizing: border-box; /* Ensures padding does not add to the total width */
    border: 2px solid var(--secondary-color); /* Add border to logo grid */
    animation: glowing-border 2s infinite; /* Apply the glowing border animation */
}


.logo-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.logo-section{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

@keyframes glowing-border {
    0% {
        box-shadow: 0 0 5px #fff;
    }
    50% {
        box-shadow: 0 0 20px #fff;
    }
    100% {
        box-shadow: 0 0 5px #fff;
    }
}

.detail-section {
    background-color: var(--detail-background-color, #f8f9fa); /* Light background for the detail section */
    color: var(--detail-text-color, #333); /* Dark text color for readability */
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme changes */
}

.detail-section p {
    margin: 0; /* Remove default paragraph margin */
}

.detail-section button {
    margin-top: 10px; /* Spacing above the button */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--button-background-color, #007bff); /* Button background */
    color: var(--button-text-color, #ffffff); /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.detail-section button:hover {
    background-color: var(--button-hover-background-color, #0056b3); /* Darker on hover */
}