.navbar {
    background-color: var(--secondary-color); /* Use the global variable for background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar h1 {
    color: white;
    font-size: 1.5rem;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-icon {
    font-size: 35px; /* Icon size, adjust as needed */
    color: var(--foreground); /* Icon color, adjust as needed */
    margin: 10px; /* Space between icons */
    transition: color 0.3s ease-in-out, transform 0.3s ease; /* Smooth transition for hover effect */
    display: inline-block; /* Allows the transform property to work */
}

.social-icon:hover {
    color: var(--hover-color); /* Change color on hover */
    transform: scale(1.4); /* Slightly increase the icon size */
}

.kofi-button:hover {
    background-color: transparent !important; /* Use !important to override existing styles */
}