/* NavBar.css */
.navbar {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.resume-download {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--foreground);
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease;
}

.resume-download:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}

.resume-download:hover .download-icon {
  color: var(--hover-color);
  transform: scale(1.4);
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-icon {
  font-size: 35px;
  color: var(--foreground);
  margin: 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease;
  display: inline-block;
}

.social-icon:hover {
  color: var(--hover-color);
  transform: scale(1.4);
}

.weather-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 14px;
}
