.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color); /* Use the global variable for background color */
    padding: 0.5rem 1rem;
}

.navbar h1 {
    color: white;
    font-size: 1.5rem;
}