#phaser-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Example width */
    height: 50vh; /* Example height, adjust as needed */
    background-color: var(--footer-foreground);
    color: var(--background);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    pointer-events:auto;
    position: relative;
}
