/* Updated ThemeSwitcher.css */

.theme-switcher-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.icon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    transition: opacity 0.3s, transform 0.3s;
}

.icon-stack-icon {
    width: 100%;
    text-align: center;
    opacity: 1;
    position: relative;
    animation-name: colorAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: color 0.3s ease-in-out, transform 0.3s ease;
}

.icon-stack-icon:hover {
    color: var(--secondary-color); /* Change color on hover */
    transform: scale(1.4); /* Slightly increase the icon size */
}


@keyframes colorAnimation {
    0% {
        color: #ffffff; /* Initial color */
    }
    50% {
        color: #000000; /* Target color */
    }
    100% {
        color: #ffffff; /* Back to initial color */
    }
}

.theme-switcher-container .hidden {
    opacity: 0;
}

.icon-stack-icon::before,
.icon-stack-icon::after {
    content: "";
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, transparent 0%, rgba(255, 100, 45, 0.7) 50%, transparent 100%);
    pointer-events: none; /* Disable pointer events on pseudo-elements */
    transform: translateX(-100%); /* Initial position outside of the icon */
    transition: transform 1s; /* Transition for shine animation */
}


.icon-stack-1x,
.icon-stack-2x {
    width: 100%;
    text-align: center;
}
