body {
    margin: 0;
    padding: 0;
}

.typewriter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the text horizontally */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    z-index: 1000;
    pointer-events: none;
}

.blink-cursor {
    opacity: 0;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
