@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assuming you're using CSS variables */
:root {
    --color-bg: #fff;
    --color-text: #000;
}

.dark {
    --color-bg: #000;
    --color-text: #fff;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

